// CDS styles - theme variables
@import '@ciscodesignsystems/cds-magnetic-theme-web/css/dist/token-theme-light-variables.css';

// CDS Component CSS imports (only for installed packages)
@import '@ciscodesignsystems/cds-react-button/index.css';
@import '@ciscodesignsystems/cds-react-card/index.css';
@import '@ciscodesignsystems/cds-react-checkbox/index.css';
@import '@ciscodesignsystems/cds-react-dropdown/index.css';
@import '@ciscodesignsystems/cds-react-text-input/index.css';
@import '@ciscodesignsystems/cds-react-tooltip/index.css';
@import '@ciscodesignsystems/cds-react-flex/index.css';
@import '@ciscodesignsystems/cds-react-spinner/index.css';
@import '@ciscodesignsystems/cds-react-table/index.css';
@import '@ciscodesignsystems/cds-react-drawer/index.css';
@import '@ciscodesignsystems/cds-react-heading/index.css';
@import '@ciscodesignsystems/cds-react-text/index.css';
@import '@ciscodesignsystems/cds-react-select/index.css';
@import '@ciscodesignsystems/cds-react-radio/index.css';
@import '@ciscodesignsystems/cds-react-popover/index.css';
@import '@ciscodesignsystems/cds-react-empty-state/index.css';
@import '@ciscodesignsystems/cds-react-divider/index.css';